@page
@model PhotoAlbumApp.Views.LoginModel
@{
    <form method="post">
        <input name="Username" />
        <input name="Password" type="password" />
        <button type="submit">Login</button>
    </form>

}
